include MANIFEST.in
include LICENSE
include pyproject.toml
include *.md

# Include src, tests,docs and scripts directories in package
graft src
graft tests
graft docs
graft scripts

# Include bounding boxes for shorelines and transects
recursive-include src/coastseg/bounding_boxes *.csv
# Include tide regions map for the tide model
recursive-include src/coastseg/tide_model *.geojson

# Exclude downloaded shorelines and models
recursive-exclude src/coastseg/shorelines *.geojson
recursive-exclude src/coastseg/downloaded_models *

# Remove the pycache directory and any pycache files
prune src/coastseg/__pycache__
recursive-exclude * *.py[co]