[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "coastseg"
dynamic = ["readme"]
version = "1.1.39" 
authors = [
  { name=" Sharon Fitzpatrick", email="sharon.fitzpatrick23@gmail.com" },
]
# find` directive with `include` or `exclude`
description = "An interactive jupyter notebook for downloading satellite imagery"
dependencies = [
  "area",
  "aiohttp",
  "chardet",
  "coastsat-package>=0.1.43",
  "dask",
  "doodleverse-utils>=0.0.35",
  "earthengine-api>=0.1.388",
  "geojson",
  "geopandas",
  "jupyterlab>=3.0.0",
  "leafmap>=0.14.0",
  "nest-asyncio",
  "pyTMD",
  "xarray",]
license = { file="LICENSE" }
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Scientific/Engineering :: GIS",
]

# tells setup tools to include the code in the coastseg directory within the src directory
[tool.setuptools.packages.find]
where = ["src"]


[project.urls]
"Homepage" = "https://github.com/SatelliteShorelines/CoastSeg"
"Bug Tracker" = "https://github.com/SatelliteShorelines/CoastSeg/issues"