[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "coastseg_beta_package"
dynamic = ["readme"]
version = "0.0.7"
authors = [
  { name=" Sharon Fitzpatrick", email="sharon.fitzpatrick23@gmail.com" },
]
# find` directive with `include` or `exclude`
description = "An interactive jupyter notebook for downloading satellite imagery"
dependencies = [
  "coastsat-package>=0.0.6",
  "area",
  "requests",
  "doodleverse-utils<=0.0.3",
  "tqdm",
  "leafmap",
  "shapely",
  "geojson",]
license = { file="LICENSE" }
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

# tells setup tools to include the code in the coastseg directory within the src directory
[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.dynamic]
readme = {file = ["README.md"]}

[project.urls]
"Homepage" = "https://github.com/SatelliteShorelines/CoastSeg"
"Bug Tracker" = "https://github.com/SatelliteShorelines/CoastSeg/issues"