on:
    push:
      branches: [test_package]
    pull_request:
      branches: [test_package]
  
name: Test CoastSeg Installation (conda install)
jobs:
Test:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    defaults:
    run:
        shell: bash -l {0}
    strategy:
    fail-fast: false
    matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v4
    - name: Setup_Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
            miniconda-version: "latest"
            python-version: "3.10"
            channels: conda-forge
    - run: |
        conda info
        conda list
    - name: Install coastseg and dependencies
        run: |
        conda install coastseg gdal tensorflow -c conda-forge -y
    - name: Install pytest
        run: |
        pip install pytest
    - name: Test with pytest
        run: |
        cd tests
        python -m pytest
